<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myclass.dao.DataDictionaryMapper">

    <resultMap id="DataDictionaryMap" type="DataDictionary">
    </resultMap>

    <insert id="insertDataDictionary" parameterType="DataDictionary">
        insert into dataDictionary
        values (#{typeCode},#{typeName},#{valueId},#{valueName},#{createUser},now(),#{isenable},#{remark});
    </insert>

    <select id="listDataDictionary" resultMap="DataDictionaryMap">
        select typeCode,typeName,valueId,valueName,createUser,createTime,isenable,remark
        from dataDictionary
        order by CONVERT(`${orderCol}` using gbk) ${orderType}
    </select>

    <update id="updateIsEnable">
        update dataDictionary
        <set>
            isenable=#{statusValue}
        </set>
        <where>
            typeCode=#{typeCode}
          and
            valueId=#{valueId}
          and
            isenable=#{oldStatus}
        </where>
    </update>

    <select id="getDataDictionaryById" resultMap="DataDictionaryMap">
        select typeCode,typeName,valueId,valueName,createUser,createTime,isenable,remark
        from dataDictionary
        <where>
          typeCode=#{typeCode}
            and
          valueId=#{valueId}
        </where>
    </select>

    <update id="updateDataDictionary" parameterType="DataDIctionary">
        update dataDictionary
        <set>
            typeCode=#{typeCode},
            typeName=#{typeName},
            valueId=#{valueId},
            valueName=#{valueName},
            isenable=#{isenable},
            remark=#{remark}
        </set>
        <where>
            typeCode=#{typeCode}
            and
            valueId=#{valueId}
        </where>
    </update>
</mapper>