<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myclass.dao.StudentInfoMapper">

    <resultMap type="StudentInfo" id="StudentInfoMap">
        <result property="stuNo" column="stuNo" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertStudentInfo" parameterType="StudentInfo">
        insert into studentInfo(stuNo, loginName, name, pwd, classID, createTime, createTeacher, status, remark)
        values (#{stuNo}, #{loginName}, #{name}, #{pwd}, #{classID}, now(), #{createTeacher}, #{status}, #{remark});
    </insert>

    <!--通过主键修改数据-->
    <update id="updateStudentInfo" parameterType="StudentInfo">
        update myClass.studentInfo
        <set>
            <if test="loginName != null and loginName != ''">
                loginName = #{loginName},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="pwd != null and pwd != ''">
                pwd = #{pwd},
            </if>
            <if test="classId != null">
                classID = #{classId},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="idCard != null and idCard != ''">
                idCard = #{idCard},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="headImg != null and headImg != ''">
                headImg = #{headImg},
            </if>
            <if test="headTemp != null and headTemp != ''">
                headTemp = #{headTemp},
            </if>
            <if test="isHeadPass != null">
                isHeadPass = #{isHeadPass},
            </if>
            <if test="provinceCode != null and provinceCode != ''">
                provinceCode = #{provinceCode},
            </if>
            <if test="cityCode != null and cityCode != ''">
                cityCode = #{cityCode},
            </if>
            <if test="areaCode != null and areaCode != ''">
                areaCode = #{areaCode},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="signature != null and signature != ''">
                signature = #{signature},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="createTeacher != null">
                createTeacher = #{createTeacher},
            </if>
            <if test="lastLoginTime != null">
                lastLoginTime = #{lastLoginTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="ipAddress != null and ipAddress != ''">
                ipAddress = #{ipAddress},
            </if>
            <if test="modifyTime != null">
                modifyTime = #{modifyTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where stuNo = #{stuNo}
    </update>

    <select id="getStudentInfo" resultMap="StudentInfoMap">
        select
        stuNo,
        loginName,
        name,
        classID,
        sex,
        idCard,
        birthday,
        phone,
        headImg,
        headTemp,
        isHeadPass,
        provinceCode,
        cityCode,
        areaCode,
        address,
        signature,
        createTime,
        createTeacher,
        lastLoginTime,
        status,
        ipAddress,
        modifyTime,
        remark
        from studentInfo
        <where>
        stuNo = #{stuNo}
        </where>
    </select>

    <select id="listStudentInfo" resultMap="StudentInfoMap">

    </select>
</mapper>