<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myclass.dao.backstage.DataDictionaryMapper">

    <resultMap id="DataDictionaryMap" type="DataDictionary">
    </resultMap>

    <insert id="insertDataDictionary" parameterType="DataDictionary">
        insert into dataDictionary
        values (#{typeCode},#{typeName},#{valueId},#{valueName},#{createUser},now(),#{isenable},#{remark});
    </insert>

    <select id="listDataDictionary" resultMap="DataDictionaryMap">
        select typeCode,typeName,valueId,valueName,createUser,createTime,isenable,remark
        from dataDictionary
        <where>
            <if test="dataDictionary != null">
                <if test="dataDictionary.typeCode != null and dataDictionary.typeCode != ''">
                    and typeCode = #{dataDictionary.typeCode}
                </if>
                <if test="dataDictionary.typeName != null and dataDictionary.typeName != ''">
                    and typeName = #{dataDictionary.typeName}
                </if>
                <if test="dataDictionary.valueId != null and dataDictionary.valueId != 0">
                    and valueId = #{dataDictionary.valueId}
                </if>
                <if test="dataDictionary.valueName != null and dataDictionary.valueName != ''">
                    and valueName = #{dataDictionary.valueName}
                </if>
                <if test="dataDictionary.createUser != null and dataDictionary.createUser != 0">
                    and createUser = #{dataDictionary.createUser}
                </if>
                <if test="dataDictionary.isenable != null">
                    and isenable = #{dataDictionary.isenable}
                </if>
                <if test="dataDictionary.remark != null">
                    and remark = #{dataDictionary.remark}
                </if>
            </if>
        </where>
        order by
        <if test="orderCol != null and orderCol != ''">
            CONVERT(`${orderCol}` using gbk)
        </if>
         ${orderType}
    </select>

    <update id="updateIsEnable">
        update dataDictionary
        <set>
            isenable=#{statusValue}
        </set>
        <where>
            typeCode=#{typeCode}
          and
            valueId=#{valueId}
          and
            isenable=#{oldStatus}
        </where>
    </update>

    <select id="getDataDictionaryById" resultMap="DataDictionaryMap">
        select typeCode,typeName,valueId,valueName,createUser,createTime,isenable,remark
        from dataDictionary
        <where>
          typeCode=#{typeCode}
            and
          valueId=#{valueId}
        </where>
    </select>

    <update id="updateDataDictionary" parameterType="DataDIctionary">
        update dataDictionary
        <set>
            typeCode=#{typeCode},
            typeName=#{typeName},
            valueId=#{valueId},
            valueName=#{valueName},
            isenable=#{isenable},
            remark=#{remark}
        </set>
        <where>
            typeCode=#{typeCode}
            and
            valueId=#{valueId}
        </where>
    </update>
</mapper>